h1 Home Page
div style="width:50%"
	| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nisi tempor, rutrum ipsum in, sodales nisl. Vestibulum metus quam, gravida convallis dictum in, cursus tincidunt odio. Nam eget metus sapien. Aenean ut risus et turpis semper sagittis sit amet ut nulla. Nulla at ultricies dui. Vivamus venenatis diam eu feugiat placerat. Donec ut nibh euismod, aliquam lorem eu, elementum libero. Duis et tellus enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend ligula et facilisis dictum. Integer cursus nisl semper adipiscing euismod. 
= link_to "try me", "exercise/print_question", class: "button"