<h1>Listing vocables</h1>

<table>
  <tr>
    <th>English</th>
    <th>German</th>
    <th>Sweden</th>
  </tr>

<% @vocables.each do |vocable| %>
  <tr>
    <td><%= vocable.english %></td>
    <td><%= vocable.german %></td>
    <td><%= vocable.sweden %></td>
  </tr>
<% end %>
</table>
